.weather-data-content{
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}


.weather-extra-info-content{
    width: 50%;
    display: inline-block;
    padding-right: 10px;
}
.extra-info-title{
    text-align: start;
    margin: 0;
    line-height: 25px;
    border-bottom: 1px solid #d2c8c8;
}
.extre-info-text{
    margin: 2px 0px;
    text-align: start;
}



.weater-tempeture-content{
    width: 40%;
    display: inline-block;
}
.weater-tempeture-content i{
    margin-top: 15px;
}
.temperature{
    margin: 8px 0px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}